---
---

<div class="bg-slate-100 rounded-xl p-8">
  <h2 class="text-2xl mb-6">Diplômes & formations</h2>
  <ol class="border-l-2 border-blue-600">
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">
          <div class="flex gap-x-2">
            Licence Professionnelle CASIR
            <span
              class="bg-green-200 text-green-600 border-2 border-green-600 rounded-full px-2 py-1 text-xs font-bold"
              >2nd major de promotion</span
            >
          </div>
        </h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >Septembre 2018 à juin 2019 - IUT de Valence - Valence</span
        >
        <ul class="list-disc ml-5">
          <li>
            Développement web avec Ruby (Ruby On Rails), PHP (Symfony), Node.js
            et MySQL / PostgreSQL
          </li>
          <li>Développement mobile Android</li>
          <li>Gestion de projet</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">
          DUT Réseaux et Télécommunications
        </h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >Septembre 2016 à juin 2018 - IUT de Valence - Valence</span
        >
        <ul class="list-disc ml-5">
          <li>Utilisation de systèmes dexploitations Unix et Microsoft</li>
          <li>Connaissances des systèmes et matériels CISCO</li>
          <li>Mise en place de réseaux</li>
          <li>
            Connaissances de protocoles et services (IP, ARP, ICMP, TCP, UDP,
            DNS, SMTP, SNMP)
          </li>
          <li>Programmation Python, xHTML, CSS, PHP et MySQL</li>
          <li>Connaissances basiques en électronique</li>
          <li>
            Connaissances de différents types de modulation et de leur
            modulateur/démodulateur
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">
          <div class="flex gap-x-2">
            Baccalauréat Technologique STI2D
            <span
              class="bg-green-200 text-green-600 border-2 border-green-600 rounded-full px-2 py-1 text-xs font-bold"
              >Mention assez bien</span
            >
          </div>
        </h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >De septembre 2012 à juillet 2016 - Lycée du Dauphiné -
          Romans-sur-Isère</span
        >
        <div>
          Diplôme du baccalauréat technologique en Sciences et Techniques de
          l'Ingénieur et du Développement Durable, option Innovations
          technologiques et Eco-Conception avec la <span class="font-bold"
            >mention assez bien</span
          >.
        </div>
      </div>
    </li>
  </ol>
</div>
