---
import Experience from "./inc/Experience.astro";
---

<div class="bg-slate-100 rounded-xl p-8 mb-8">
  <h2 class="text-2xl mb-6">Expériences professionnelles</h2>
  <ol class="border-l-2 border-blue-600">
    <Experience
      title="Développeur backend"
      content={[
        "Développement d'API REST pour des applications mobiles",
        "Développement de modules spécifiques aux besoins utilisateurs",
        "Mise en place de systèmes de paiement en ligne",
        "Création de boutiques en ligne",
        "Analyses et optimisations de la sécurité des applications et des sites web",
      ]}
      startDate="mars 2024"
      location="Romans-sur-Isère"
      company="Kyxar"
    />

    <Experience
      title="Technicien R&D / Technicien réseau"
      content={[
        "Développement d'une application web permettant de superviser et configurer un ou plusieurs parking",
        "Ecriture des tests fonctionnels et unitaires",
        "Mise en place du DevOps",
        "Déploiement d'infrastructures réseaux",
        "Création et déploiement de systèmes d'explotations sur-mesure",
      ]}
      startDate="septembre 2019"
      endDate="février 2024"
      company="IE-Concept"
      location="Valence"
    />

    <Experience
      title="Alternant"
      content={[
        "Développement d'une application web pour la supervision d'éclairage de serres connectées",
        "Écriture des tests fonctionnels et unitaires",
        "Mise en place du DevOps",
      ]}
      startDate="juin 2018"
      endDate="août 2019"
      company="IE-Concept"
      location="Valence"
    />

    <Experience
      title="Employé formateur"
      content={[
        "Préparateur de commandes",
        "Nettoyage des salles du restaurant",
        "Réception de livraisons",
      ]}
      startDate="juin 2016"
      endDate="juin 2018"
      company="McDonald's"
      location="Pont de l'isère"
    />

    <Experience
      title="Saisonnier d'été en milieu agricole"
      content={[
        "Ramasse d'abricots, poires et prunes",
        "Castration de maïs",
        "Piochage de cardons",
      ]}
      startDate="juin 2012"
      endDate="juin 2016"
      company="M. Maisonnat"
      location="Saint Bardoux"
    />
  </ol>
</div>
