---
import ContactCard from "../components/ContactCard.astro";
import DiplomasAndTraining from "../components/DiplomasAndTraining.astro";
import PresentationCard from "../components/PresentationCard.astro";
import ProfessionalExperiences from "../components/ProfessionalExperiences.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mx-24 my-8">
    <div class="grid grid-cols-4 gap-x-12">
      <div class="flex flex-col gap-8">
        <PresentationCard />

        <ContactCard />
      </div>
      <div class="col-start-2 col-end-4">
        <ProfessionalExperiences />
        <DiplomasAndTraining />
      </div>
    </div>
  </main>
</Layout>
