---
---

<div class="bg-slate-100 rounded-xl p-8 mb-8">
  <h2 class="text-2xl mb-6">Expériences professionnelles</h2>
  <ol class="border-l-2 border-blue-600">
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">
          Technicien R&D / Technicien réseau
        </h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >Depuis septembre 2019 - IE-Concept - Valence</span
        >
        <ul class="list-disc ml-5">
          <li>
            Développement d'une application web permettant de superviser et
            configurer un ou plusieurs parking
          </li>
          <li>Ecriture des tests fonctionnels et unitaires</li>
          <li>Mise en place du DevOps</li>
          <li>Déploiement d'infrastructures réseaux</li>
          <li>Création et déploiement de systèmes d'explotations sur-mesure</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">Alternant</h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >De juin 2018 à août 2019 - IE-Concept - Valence</span
        >
        <ul class="list-disc ml-5">
          <li>
            Développement d'une application web pour la supervision d'éclairage
            de serres connectées
          </li>
          <li>Écriture des tests fonctionnels et unitaires</li>
          <li>Mise en place du DevOps</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">
          Employé formateur
        </h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >De juin 2016 à juin 2018 - McDonald's - Pont de l'isère</span
        >
        <ul class="list-disc ml-5">
          <li>Préparateur de commandes</li>
          <li>Nettoyage des salles du restaurant</li>
          <li>Réception de livraison</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center">
        <div
          class="bg-blue-600 w-4 h-4 flex items-center justify-center rounded-full -ml-2 mr-3 -mt-2"
        >
        </div>
        <h4 class="text-gray-800 font-semibold text-xl -mt-2">
          Saisonnier d'été en milieu agricole
        </h4>
      </div>
      <div class="ml-5 mb-6 pb-6">
        <span
          class="text-blue-600 hover:text-blue-700 focus:text-blue-800 duration-300 transition ease-in-out text-sm"
          >De juin 2012 à juin 2016 - M. Maisonnat - Saint Bardoux</span
        >
        <ul class="list-disc ml-5">
          <li>Ramasse d'abricots, poires et prunes</li>
          <li>Castration de maïs</li>
          <li>Piochage de cardons</li>
        </ul>
      </div>
    </li>
  </ol>
</div>
