---
import Icon from "../Global/Icon.astro";
interface Props {
  title: string;
  url: string;
}

const { title, url }: Props = Astro.props;
---

<li class="bg-white w-full hover:bg-blue-50">
  <a
    href={url}
    target="_blank"
    class="p-4 w-full h-full flex justify-between align-middle"
  >
    <span>{title}</span>
    <svg
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#000000"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 16l4 -4l-4 -4"></path>
      <path d="M8 12h8"></path>
      <path
        d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
      ></path>
    </svg>
  </a>
</li>
