---
export interface Props {
  title: string;
  withoutError?: boolean;
}

const { title, withoutError } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-r from-blue-800 to-blue-600">
    {
      !withoutError && (
        <div class="bg-red-500 w-full flex flex-row justify-center align-middle items-center p-2 h-auto">
          <p class="font-semibold text-white">
            Attention : Ce site en cours de construction, toutes les
            fonctionnalités ne sont pas encore disponibles.
          </p>
        </div>
      )
    }
    <slot />
  </body>
</html>
