---
export interface Props {
  icon: string;
  class?: string;
}

const { icon, ...attributes } = Astro.props as Props;
const CurrentIcon = await import(`../../../assets/svg/${icon}.svg?raw`);
---

<div {...attributes}>
  <CurrentIcon />
</div>
