---
---

<div class="w-full h-12 px-12 flex justify-between items-center bg-purple-800">
  <div class="text-white font-bold">Quentin LAURENT</div>
  <div class="flex gap-x-8 text-white font-bold">
    <div>Accueil</div>
    <div>Mes compétences</div>
    <div>Ressources</div>
  </div>
  <div class="px-6 py-1 rounded-3xl bg-blue-500 text-white font-bold">
    Télécharger mon CV
  </div>
</div>
